<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Postcard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3ADC34B1BD69E3A0023EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3ADC35F1BD69E3A0023EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3ADC36A1BD69E3B0023EA7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
